<html>
    <head>

    </head>
    <body ng-app="myApp" ng-controller="mainController">
        <div id="map-page">
            <div id="map-left-menu">
                                <div id="map-left-menu-content">
                <div ng-cloak class="tabs" >
		          <md-content> 
                    <md-tabs md-dynamic-height md-border-bottom>
		              <md-tab label="Parcari"> <md-content >

                    <div id="filters" ng-init="priceMin=0;priceMax=50;maxDistance=3;">
                        <label for="price-min">Pret minim (lei/ora): {{priceMin}}</label> <input type="range" name="price-min" id="price-min" value="5" min="0" max="50" ng-model="priceMin">
                        <label for="price-max">Pret maxim (lei/ora): {{priceMax}}</label> <input type="range" name="price-max"
                        id="price-max" value="30" min="0" max="50" ng-model="priceMax">
                        <label for="distance-min">Distanta maxima (km): {{maxDistance}} </label> <input type="range" name="distance-min"
                        id="distance-min" value="30" min="0" max="100"
                        ng-model="maxDistance">
                        
                    </div>
                    <div id="parking-list" ng-init="initInterface()">
                        <div class="parking-item" ng-repeat="park in parkingData | orderBy : 'distance' " ng-if="checkFilter(priceMax,priceMin,maxDistance,park)" ng-mouseenter="triggerMarker(park.markerIndex)" ng-mouseleave="triggerExitMarker(park.markerIndex)">
                            
                            <div class="park-img">
                                <img src="{{park.image}}">
                                <div class="busy-ratio">
                                    <p>{{100-percent(park.busyPlaces,park.totalPlaces)}}% Liber</p>
                                </div>
                            </div>
                            <div class="park-description">
                                <p class="park-description-head">{{park.name}}</p>
                               
                                <p class="description">{{park.description}}</p>
                                <p class="park-descripton-default">{{park.distance}}km - {{park.wlakingTime}}</p>
                                <div class="features">
                                    <img ng-if="park.categories[0].covered" src="app/Img/covered_parking.png" data-toggle="tooltip" data-placement="top" title="Parcare acoperita">
                                    <img ng-if="park.creditCard" src="app/Img/credit_cards_accepted.png" data-toggle="tooltip" data-placement="top" title="Accepta card de credit!">
                                    <img src="app/Img/clearance.png" data-toggle="tooltip" data-placement="top" title="Inaltimea maxima {{park.categories[0].max_height}}">
                                </div>
                                <a class="rezerva-parcare-btn" data-toggle="modal" data-target="#myModal"
											ng-click="rememberSelectedPark(park);checkReserve(x)"><b>Rezerva</b></a>
                            </div>
                        </div>
 
                    </div>
                    

                          </md-content>
                        </md-tab>
                        
                <!-- LEGENDA -->
             <md-tab label="Legenda"> 
            <md-content class="md-padding">
                <div class="legend">
                    <div class="legend-item">
                        <img src="app/Img/me.png">
                        <p>Aici va aflati dumneavoastra sau locul de referinta pentru cautarea parcarilor</p>
                    </div>
                    <div class="legend-item">
                        <img src="app/Img/blue.png">
                        <p>Parcare</p>
                    </div>
                    <div class="legend-item">
                        <img src="app/Img/cluseters-icons.png">
                        <p>Un grup de marcare care pentru a putea fi vazut trebuie dat zoom in locatia respectiva . Culorile se modifica in functie de numarul markerelor din zona respectiva</p>
                    </div>
                </div>
                
            </md-content> 
        </md-tab> 
        
                <!-- TEME -->
        <md-tab label="Teme"> 
        <md-content class="md-padding">
             <div id="change-theme">
                        <div id="change-theme-head">
                            <h1>Select map style</h1>
                        </div>
                        <div class="theme-item">
                            <img src="app/Img/retro.png">
                            <div class="theme-item-content">
                                 <p>Clasic</p>
                                <div>
                                    <input ng-click="changeMapColor(1);" checked="checked" type="radio" name="select">
                                </div>
                            </div>
                        </div>
                        <div class="theme-item">
                            <img src="app/Img/dark.png">
                            <div class="theme-item-content">
                           <p>Dark</p>
                                <div>
                                    <input ng-click="changeMapColor(2);" type="radio" name="select">
                                </div>
                            </div>
                        </div>
                         <div class="theme-item">
                           <img src="app/Img/blueOcean.png">
                            <div class="theme-item-content">
                           <p>Blue Ocean</p>
                                <div>
                                    <input ng-click="changeMapColor(3);" ng-click="changeMapColor(1);" type="radio" name="select">
                                </div>
                            </div>
                        </div>
                        <div class="theme-item">
                            <img src="app/Img/silver.png">
                            <div class="theme-item-content">
                           <p>Silver</p>
                                <div>
                                    <input ng-click="changeMapColor(4);" type="radio" name="select">
                                </div>
                            </div>
                        </div>
                        <div class="theme-item">
                            <img src="app/Img/night.png">
                            <div class="theme-item-content">
                           <p>Night Mode</p>
                                <div>
                                    <input ng-click="changeMapColor(5);" type="radio" name="select">
                                </div>
                            </div>
                        </div>
                          <div class="theme-item">
                            <img src="app/Img/CIA.png">
                            <div class="theme-item-content">
                                <p>CIA Blue</p>
                                <div>
                                    <input ng-click="changeMapColor(6);" type="radio" name="select">
                                </div>
                            </div>
                        </div>
                    </div>
		</md-content> 
        </md-tab> 
                      </md-tabs>
                    </md-content>

        

                                    
                                    </div>
                                    </div>
                <!-- end left menu content -->

            </div>
            <div id="map-colaps-left-menu" ng-init="collapse=true" ng-mouseenter="mouseOver()" ng-mouseleave="mouseExit()">
                    <i class="fa fa-chevron-left" aria-hidden="true" ng-show="collapse" ng-click="collapse=!collapse;collapseWindow()"></i>
                    <i class="fa fa-chevron-right" aria-hidden="true" ng-show="!collapse" ng-click="collapse=!collapse;expandWindow()"></i>
            </div>
            <div id="map">
                
            </div>
            <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        </div>

        <!-- MODAL -->
										


 <div class="modal fade" id="myModal" role="dialog">
		    <div class="modal-dialog">
		    
		      Modal content
	      <div class="modal-content" >
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title" style="color:rgb(57, 149, 247);">Rezervare loc de parcare</h4>
	        </div>
	   
	        <img src="http://www.tbaf.org.tw/event/2016safe/imgs/loader1.gif" ng-show="load==true && reservedComplete==false" >
	     
	        <div class="modal-body" id="check2" ng-show="x.cookie && checkReserved==false && reservedComplete==false && load==false">
	        
                     <div class="reserv-content">
                    <h3>Categoriile valabile:</h3>
                    <div class="category-list">
                        <div class="category-item" ng-repeat="cat in currentParking.categories" id="{{cat.id_category}}" ng-click="selectCategoryToReserv(cat)">
                            <h4>{{cat.name}}</h4>
                            <p>{{cat.price}} lei/ora</p>
                            <div class="modal-features">
                                <p class="specifications">
                                    Specificatii
                                </p><p class="places">{{cat.busy_places}}/{{cat.total_places}} locuri</p>
                                
                      
                                <p class="spec-item" ng-show="cat.covered">
                                    Acoperita
                                </p>
                                <p class="spec-item">
                                    Inaltime {{cat.max_height}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
			 <input type="button" class="btn btn-default" value="Rezerva" id="reserve" ng-click="reserve(reservedCategory,x)" ng-show="x.cookie">  										         
					
	        </div>
	        <!-- Daca nu esti logat -->
	        <div ng-hide="x.cookie" style="text-align:center;">
                <h3 style="padding:10 10 10 10 px;">Trebuie sa fiti inregistrat pentru a putea face o rezervare </h3>	
                
                <a  class="btn btn-info" data-dismiss="modal" ng-click="goToLogin()">Inregistrare</a>
	        </div>
	        <!-- daca ai rezervare -->
		<div style="text-align:center;" ng-show="checkReserved && cancelReserve1==false && load==false">
			<h2>Aveti deja o rezervare facuta!</p> <p> Va rugam sa o anulati daca nu mai puteti ajunge! </h2>
			<div id="output2"></div>
            <input style="margin-top:20px;" type="button" class="btn btn-default" value="Anuleaza rezervarea"  ng-click="cancelReserve(x)" > 
										         		        									        
		</div>
	      <!-- daca nu ai locuri -->
	        <div ng-show="places">
	         <h2><center>Ne pare rau, nu mai sunt locuri la aceasta categorie </center></h2>
	        </div>
	        <!-- qr + cod -->
	        <div style="text-align:center;" ng-show="reservedComplete">
	        <p> Rezervarea a fost facuta cu succes! Codul rezervarii: {{somedata}}.</p> <p>Va rugam sa va prezentati la parcare cu acest cod QR: </p>
			
				<div id="output"></div>
	        
	        </div>
	      <!--   dupa ce ai anulat -->
	      <div ng-show="cancelReserve1">
	        <h2><center> S-a anulat rezervarea ! </center></h2>
	       </div>
	        
	       <!-- close-->
	        <div class="modal-footer" id="footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Inchide</button>
	        </div>
	      </div>
	      
	    </div>
	  </div>		 							
									


</body>
</html>