
<script>
var currentPark;
</script>
<!-- Icon near title -->
<link rel="icon" type="image/gif"
	href="http://www.freeiconspng.com/uploads/parking-icon-png-12.png" />



<div id="map"></div>
<input id="pac-input" class="controls" type="text"
	placeholder="Search Box" >

<div id="filters-in">
	<span class="glyphicon glyphicon-arrow-right" id="rightArrow"></span> <span
		class="glyphicon glyphicon-arrow-left" id="leftArrow"></span>
</div>

<div id="filters">



	<div ng-cloak class="tabs" ng-app="myApp">
		<md-content> 
        <md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="Parcari"> <md-content>

		<div>
			<label for="price-min">Pret minim(lei/ora): {{priceMin}}</label> <input
				type="range" name="price-min" id="price-min" value="5" min="0"
				max="50" ng-model="priceMin"> <label for="price-max">Pret
				maxim(lei/ora):{{priceMax}}</label> <input type="range" name="price-max"
				id="price-max" value="30" min="0" max="50" ng-model="priceMax">
			<label for="distance-min">Distanta maxima(km):
				{{maxDistance}} </label> <input type="range" name="distance-min"
				id="distance-min" value="30" min="0" max="100"
				ng-model="maxDistance">
		</div>

		<div class="container-fluid">

			<div class="container container-pad" id="property-listings">
				<div class="row">
					<div class="col-sm-5">
						<div ng-hide="parkingData.length">No items found</div>

						<div
							class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing"
							ng-repeat="park in parkingData" | orderBy : 'wlakingTime'
							ng-if="(priceMax>park.categories[0].price && priceMin<park.categories[0].price && park.distance<maxDistance*1000)&&park.distance!=-1">

							<div class="media" style="width: 430px;">
								<a class="pull-left" href="#" target="_parent"> <img
									alt="image" class="img-responsive" src="{{park.image}}"
									style="height: 160px"></a>

								<div class="clearfix visible-sm"></div>

								<div class="media-body fnt-smaller" style="height: 160px;">
									<a href="#" target="_parent"></a>

									<h4 class="media-heading">
										<a href="#" target="_parent"><center>{{park.name}}</center>
										</a>
									</h4>


									<ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
										<li>{{park.totalPlaces}} locuri total</li>


										<li style="list-style: none">|</li>

										<li>{{park.totalPlaces-park.busyPlaces}} libere</li>

										<li style="list-style: none">|</li>

										<li>{{park.busyPlaces}}ocup</li>
									</ul>
									<div class="slide-content">
										<p class="hidden-xs"
											style="max-width: 240px; height: 80px; overflow: hidden; text-overflow: ellipsis;">
											{{park.description}} </br>Pret: {{park.categories[0].price}}
										</p>
									</div>
									<span class=" ">
										<button type="button" class="btn btn-info btn-lg"
											data-toggle="modal" data-target="#myModal"
											ng-click="rememberSelectedPark(park);checkReserve(x)">Rezerva</button>
									</span>
								</div>

							</div>
						</div>
						<!-- End Listing-->
					</div>
				</div>
				<!-- End row -->
			</div>
			<!-- End container -->
		</div>
		</md-content> 
        </md-tab>
        
        
        <md-tab label="Teme"> 
            <md-content class="md-padding">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                venenatis ante augue. Phasellus volutpat neque ac dui mattis
                vulputate. Etiam consequat aliquam cursus. In sodales pretium
                ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
                feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in
                ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a
                tellus. Vivamus convallis sodales ante varius gravida. Curabitur a
                purus vel augue ultrices ultricies id a nisl. Nullam malesuada
                consequat diam, a facilisis tortor volutpat et. Sed urna dolor,
                aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus,
                pulvinar at interdum quis, vehicula sed odio. Phasellus in enim
                venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum
                neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor
                purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec
                luctus mauris semper.</p>
            <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra
                quam, at semper massa orci nec magna. Donec posuere nec sapien sed
                laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor
                tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar
                vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra
                sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis
                convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl
                consectetur, rhoncus sapien sit amet, tempus sapien.</p>
            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet
                interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue
                risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at
                posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo
                volutpat non ac est. Praesent ligula diam, congue eu enim
                scelerisque, finibus commodo lectus.</p>
            </md-content> 
        </md-tab> 
        
        
        <md-tab label="Legenda"> 
        <md-content class="md-padding">
		<div class="dropdown">
			<button id="changeMap" class="btn btn-primary dropdown-toggle"
				type="button" data-toggle="dropdown">
				Change style<span class="caret"></span>
			</button>

			<ul class="dropdown-menu">

				<li><a ng-click="changeMapColor(1);">Normal</a></li>
				<li><a ng-click="changeMapColor(2);">Dark</a></li>
				<li><a ng-click="changeMapColor(3);">Blue</a></li>
				<li><a ng-click="changeMapColor(4);">Silver</a></li>
				<li><a ng-click="changeMapColor(5);">Night</a></li>
				<li><a ng-click="changeMapColor(6);">CIA</a></li>
			</ul>
			<div id="theme"></div>
			<p>Negru e pentru cand ai ochii obositi, albastru pentru nu stiu
				ce bla bla bla...</p>
			<p>Lumina albastra ajuta lareglarea ciclurilor zilnice de
				somn-veghe, a dispoziţiei şi a performanţei cognitive,
				menținându-ne alerți și plini de energie.</p>

		</div>
		</md-content> 
        </md-tab> 
        </md-tabs> 
    </md-content>
	</div>


</div>
<!-- End filters -->
<!-- MODAL -->

<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Rezervare loc de parcare</h4>
			</div>

			<div class="modal-body" id="check2"
				ng-show="x.cookie && checkReserved==false && reservedComplete==false">
				<p>Nume parcare: {{currentParking.name}} + poza + bootstrap +
					detalii...</p>

				<div ng-repeat="cat in currentParking.categories">Categorie:
					Pret: {{cat.price}}, Nr locuri {{cat.total_places}}, Nr ocupate
					{{cat.busy_places}}, Acoperit {{cat.covered}}, Inaltime maxima:
					{{cat.max_height}}</div>

				<select ng-model="selectedCategory"
					ng-options="x.name for x in currentParking.categories">

				</select>

				<h1>Doriti loc de parcare de tipul: {{selectedCategory.name}} ?
				</h1>
				<div id="check"></div>
				<input type="button" class="btn btn-default" value="Rezerva"
					id="reserve" ng-click="reserve(selectedCategory,x)"
					ng-show="x.cookie">
				<!--  category !  -->

			</div>

			<div ng-hide="x.cookie">
				<p>Trebuie sa fiti inregistrat...</p>
				<p>Form cu login work in progress...</p>
			</div>

			<div ng-show="checkReserved && cancelReserve1==false">
				<p>Aveti deja o rezervare, cod {{somedata}}</p>
				<input type="button" class="btn btn-default"
					value="Anuleaza rezervarea" ng-click="cancelReserve(x)">
				<div id="output2"></div>

			</div>

			<div ng-show="places">
				<p>Nu mai sunt locuri la aceasta categorie</p>
			</div>

			<div ng-show="reservedComplete">
				<p>rezervare completa codul: {{somedata}}</p>

				<div id="output"></div>

			</div>

			<div ng-show="cancelReserve1">
				<p>S-a anulat rezervarea !</p>
			</div>

			<div class="modal-footer" id="footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>


