<html>
	<head>
		<line rel="styleshet" href="app/CSS/simulator.css">
		<script src="node_modules/angular/angular.min.js"></script>
		<script src="JS/simulator.js"></script>
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body ng-app="myApp" ng-controller="simulatorController">
		
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>

<div class="container">
    <div class="row">
    
    <h1>SmartParking SIMULATOR</h1>
    
    
<div class="form-group">
  <label for="sel1">Selecteaza parcarea:</label>
 	<select class="form-control" id="sel1" ng-model="selectedPark" ng-options="x.name for x in parkingData">
  </select>
  
   <label for="sel1">Selecteaza Categoria:</label>
 	<select class="form-control" id="sel2" ng-model="selectedCategory" ng-options="categories.name for categories in selectedPark.categories">
    </select>
</div>	

  <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="carEnter(selectedCategory)">A intrat o masina</button>
  <button type="button" class="btn btn-default btn-lg btn-block" ng-click="carExit(selectedCategory)"> A iesit o masina</button>
 				<div>
						Categorie: {{selectedCategory.name}}   || 
						Nr locuri {{selectedCategory.total_places}} ||
						Nr ocupate {{selectedCategory.busy_places}} ||
				</div>
  
						
						<h1>Consola</h1>
						<p id="cons"></p>
						
					
					<h2>REZERVARI</h2>	
<div class="form-group">
  <label for="sel1">Selecteaza rezervarea:</label>
 	<select class="form-control" id="sel3" ng-model="selectedCode" ng-options="x.uniqueCode for x in reservations">
  </select>
</div>	

<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="userArrived(selectedCode)">Utilizatorul a ajuns</button>
				

		
	</body>
</html>