#map-page{
    width: 100%;
    height: 100%;
}

#map-left-menu{
    background-color: aliceblue;
    width: 400px;
    max-height: 100%;
    float: left;
    transition: width 1s;

}
#map-left-menu-content{
    background-color: aliceblue;
    width: 100%;
    display: inline-block;
    max-height: 100%;
    float: left;
    overflow: hidden;
    transition: width 1s;
    position: relative;
    
}
#map-colaps-left-menu{
    display: flex;
    position: absolute;
    left:400;
    align-items: center;
    width: 40px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    float: right;
    opacity:0.6;
    z-index:1000;
    transition:left 1s;
}

html,body{
    height: 100%;
    margin: 0px;
    font: 14px Helvetica Neue,Helvetica,Arial,sans-serif;
}

#map{
    height: 100%;
    width: auto;
    background-color: aliceblue;
    transition: padding 1s;
}

#map-colaps-left-menu>i{
    display: flex;
    font-size: 20px;
    opacity: 0.4;
    margin: 0px;
    height: auto;
    padding-left: 10px;
}

#filters{
    padding-top: 10px;
    height: 180px;
    width: 380px;
    margin-left: 9px;
    position: absolute;
    background-color: #f1f1f1;
}
#parking-list{
    width: 100%;
    overflow-y: auto;
    margin-top: 199px;
    border-top: 1px solid rgba(185, 162, 162, 0.63);
    background-color: aliceblue;
    max-height: 100%;
}

.parking-item{
    width: 99%;
    height: 140px;
    display: block;
    background-color: aliceblue;
    border-bottom: 1px solid rgba(102, 153, 222, 0.48);
    
}
.parking-item:hover{
      background-color: #e7edf2;
}

.park-img{
    width: 110px;
    height: 110px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    float: left;
    position: relative;
}

.park-img>img{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.busy-ratio{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: rgba(133, 206, 94, 0.9);
}
.busy-ratio>p{
    height: 25px;
    margin: 0px;
    text-align: center;
    line-height: 25px;
    color: aliceblue;
}

.park-description{
    display: inline-block;
    width: 250px;
    height: 110px;
    float: left;
    margin-top: 10px;
}


.park-description-head{

    color: #272424;
    font-size: 16px;
    height: 16px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    text-overflow: ellipsis;
    
}
.park-descripton-default{
    color: #a6a6a6;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    padding-top: 5px;
    
}
.description{
    color: #a6a6a6;
    margin: 0px;
    padding: 0px;
    height: 40px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.features{
    display: inline-block;
    height: 26px;
    width: auto;
}

.features>img{
    height: 22px;
    padding-top: 4px;
}
.rezerva-parcare-btn{
    display: inline-block;
    height: 32px;
    float: right;
    line-height: 32px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #7b74cc;
    color: #7b74cc;
}

.rezerva-parcare-btn:hover{
    cursor: pointer;
}

/*  THEMES */

#change-theme{
    height: auto;
    width: 100%;
}

#change-theme-head{
    height: 40px;
    width: 100%;
    display:block;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(59, 96, 180, 0.57);
}

#change-theme-head>h1{
    margin-left: 10px;
    color: #187dd6;
}
.theme-item{
    height: 70px;
    width:395px ;
    margin-left: 5px;
    margin-bottom: 5px;
}
.theme-item>img{
    height: 70px;
    width: 80px;
    display: inline-block;
    margin: 0px;
    border: 0px;
    float: left;
    padding: 0px;
}

.theme-item-content{
    height: 30x;
    margin-top:20px;
    width: 285px;
    margin-left: 15px;
    display: inline-block;
}

.theme-item-content>p{
    height: 30px;
    margin: 0px;
    font-size:20px;
    line-height: 30px;
    text-align: center;
    padding: 0px;
    display: inline-block;
    width: 200px;
    float: left;
}

.theme-item-content>div{
    position: relative;
    height: 30px;
    display: inline-block;
}


.theme-item-content>div>input{
    background-color: rgba(0, 255, 127, 0);
    visibility: visible;
    position: absolute;
    z-index: 1000;
    width: 25px;
    height: 25px;
    border: 0px;
    margin: 0px;
    left: 0;
}
.check:hover{
    background-color: red;
}
.check{
    width: 15px;
    height: 15px;
    border:5px solid #cae2c9;
    border-radius: 50%;
}
.inside{
    width: 10px;
    height: 10px;
    margin-left: 2.5px;
    margin-top: 2.5px;
    border-radius: 50%;
    background-color: green;
    visibility: hidden;
}

.parking-item.ng-move,
.parking-item.ng-enter,
.parking-item.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.parking-item.ng-leave.ng-leave-active,
.parking-item.ng-move,
.parking-item.ng-enter {
  opacity:0;
}

.parking-item.ng-leave,
.parking-item.ng-move.ng-move-active,
.parking-item.ng-enter.ng-enter-active {
  opacity:1;
}
.legend{
    width: 100%;
}
.legend-item{
    width: 100%;
    height: auto;
    margin-top: 30px;
    text-align: center;
}
.legend-item>img{
    height: 50px;
    display: inline-block;
}
.legend-item>p{
    width: 80%;
    margin-left: 10%;
    font-size: 14px;
}

.modal-title: hover{
	color:white;
}
@media screen and (max-width: 812px)  {
    
 .park-img{
        width: 30%;
        height: 110px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 5px;
        float: left;
        position: relative;
    }
    
    #parking-list{
        width: 100%;
        overflow-y: auto;
        height: 500px;
        margin-top: 199px;
        border-top: 1px solid rgba(185, 162, 162, 0.63);
        background-color: aliceblue;
        max-height: 500px;
    }
    
#map-left-menu{

        background-color: aliceblue;
        width: 100%;
        max-height: 100%;
        float: none;
        display: block;
        transition: width 1s;
    }
    
    #map{
        height: 600px;
        width: 100%;
        background-color: aliceblue;
        transition: padding 1s;
        display: block;
    }
    #map-colaps-left-menu{
        display: none;
    }
    
    #filters{
        padding-top: 10px;
        height: 180px;
        width: 90%;
        margin-left: 5%;
        position: absolute;
        background-color: #f1f1f1;
    }
    
    .park-description{
        display: inline-block;
        width: 60%;
        height: 110px;
        float: left;
        margin-top: 10px;
    }
    
}

@media screen and (max-width: 658px){
    
    
        .park-description{
        display: inline-block;
        width: 60%;
        height: 110px;
        float: left;
        margin-top: 10px;
    }
}
@media only screen and (max-device-width: 812px) {
    
    
    .park-img{
        width: 30%;
        height: 110px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 5px;
        float: left;
        position: relative;
    }
    
    #parking-list{
        width: 100%;
        overflow-y: auto;
        height: 500px;
        margin-top: 199px;
        border-top: 1px solid rgba(185, 162, 162, 0.63);
        background-color: aliceblue;
        max-height: 500px;
    }
    
#map-left-menu{

        background-color: aliceblue;
        width: 100%;
        max-height: 100%;
        float: none;
        display: block;
        transition: width 1s;
    }
    
    #map{
        height: 600px;
        width: 100%;
        background-color: aliceblue;
        transition: padding 1s;
        display: block;
    }
    #map-colaps-left-menu{
        display: none;
    }
    
    #filters{
        padding-top: 10px;
        height: 180px;
        width: 90%;
        margin-left: 5%;
        position: absolute;
        background-color: #f1f1f1;
    }
    
    .park-description{
        display: inline-block;
        width: 60%;
        height: 110px;
        float: left;
        margin-top: 10px;
    }
}

@media only screen and (max-device-width: 658px){
    
    
    .park-description{
        display: inline-block;
        width: 60%;
        height: 110px;
        float: left;
        margin-top: 10px;
    }
}
