body,html{
    margin: 0px;
}

#page-content{
    height: auto;
}
.top-img{
    height: 60%;
    position: relative;
}

.top-img>img{
    position: relative;
    height: 100%;
    width: 100%;

}

.top-img>div{
    position: absolute;
    bottom: 40;
    left: 5%;
    color: white;
    width: 90%;
    height: 70%;
}

.top-img>div>h1{
    text-align: center;
    font-size: 50px;
    margin: 0px;
    margin-bottom: 40px;
    width: 100%;
}
.top-img>div>h1>img{
    height: 120px;
    margin-right: 20px;
}
.top-img>div>div>p{
    font-size: 20px;
    display: inline-block;
    margin: 0px
}
.top-img>div>div{
    height: 20%;
}
.top-img>div>div>a{
   
    margin: 0px;
    margin-left: 20px;
    padding: 10px;
    color: #8888bb;
    border:1px solid #8888bb;
    font-size: 20px;
}
.top-img>div>div>a:hover{
    cursor: pointer;
    color: white;

}
#app-features{
    height: auto;
    display: inline-block;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.57);
}

.feature-section{
    color: white;
    display: inline-block;
    background-color: #6b6bfc;
    width:  33%;
    height: auto;
    float: left;
    
}
.feature-section>i{
    height: 60px;
    margin-top: 20px;
    width:  90%;
    margin-left: 5%;
    text-align: center;
    font-size: 60px;
}
.feature-section>h2{
    height:40px;
    margin: 0px;
    text-align: center;
    font-size: 40px;
}
.feature-section>p{
    margin: 0px;
    height: 100px;
    margin-top: 20px;
 
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width: 779px) and (min-width: 437px){
    .feature-section{
        float: none;
        display: block;
        width: 100%;
    }
}
@media only screen and (max-device-width: 779px) {
    .feature-section{
        float: none;
        display: block;
        width: 100%;
    }
}

