
#top-menu{
    width: 100%;
    height: 50px;
}
#top-menu ul{
	background-color: #4d1717;
	display: inline-block;
	height: 100%;
	width: 100%;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#top-menu ul li{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	width: auto;
	height: 100%;
}
#top-menu ul li a{
	display: inline-block;
	width: auto;
	height: 100%;
	padding: 0px 20px;
	line-height: 50px;
	color: aliceblue;
	text-decoration: none;
	font-size: 20px;
	margin: 0px;
    font-family: main-font;
}

body{
      font-family: 'Roboto';
}


#top-menu ul li a i{
    font-size: 1.4em;
    line-height: 50px;
}



#top-menu ul li a:hover{
	background-color: #189026;
}
.right{
    float: right;
}
.left{
    float:left;
}