

<div class="create-category-panel">
    
    <h1>Datele categoriei</h1>
    <div  class="form-item" >
        <span>Nume:</span>
        <input class="textbox" ng-model="newParking.categories[0].name" type="text">
    </div>

    <div  class="form-item" >
        <span>Locuri:</span>
        <input class="textbox" ng-model="newParking.categories[0].total_places" type="number">
    </div>

    <div class="form-item">
        <span>Inaltime maxima:</span>
        <input class="textbox" min-value="2" ng-model="newParking.categories[0].max_height" type="number">
    </div>
    <div class="form-item">
        <span>Pret/ora(lei):</span>
        <input class="textbox" ng-model="newParking.categories[0].price" type="number">
    </div>
    <div class="form-item">
        <span>Acoperita:</span>
        <input ng-init="newParking.categories[0].covered=false;" ng-model="newParking.categories[0].covered" type="checkbox">
    </div>

</div>