 <div id="create-parking">
        <div class="form">
            <div class="form-head">
                <h1>Parcare noua</h1>
            </div>
            <div class="form-content">


                <div class="parking-data">

                        <h1>Datele parcarii</h1>

                    <div class="form-item">
                        <span>Nume:</span>
                        <input class="textbox" ng-model="newParking.name" type="text">
                    </div>
                    <div class="form-item" >
                        <span>Locatie</span>
                        <input class="textbox" type="text"   class="controls" id="parkSearch">
                    </div>
                    <div class="form-item-map" >
                        <span></span>
                        <div id="mapCanvas"></div>
                    </div>
                    <div class="form-item">
                        <span>Timp de sosire(min):</span>
                        <input class="textbox" min="15" ng-value="15" ng-model="newParking.arriveTime" type="number" >
                    </div>
                    <div  class="form-item" >
                        <span>Imagine:</span>
                        <input class="textbox" ng-model="newParking.image" type="text">
                    </div>

                    <div class="form-item">
                        <span>Card de credit:</span>
                        <input ng-init="newParking.creditCard=false;" ng-model="newParking.creditCard" type="checkbox">
                    </div>
                    <div  class="form-item" >
                        <span>Descriere:</span>
                        <textarea maxlength="100" ng-model="newParking.description"></textarea>
                    </div>
                </div>
                <div class="new-category">
                    <create-category></create-category>
                </div>    
            </div>
            <div class="form-item-submit" ng-init="init()">
                <input type="button" ng-click="addNewParking()" value="Deschide parcarea noua">
            </div>
        </div>
    </div>