<div class="modal fade" id="editPark" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
        <div class="modal-content">
            <div class="form-head">
                <h1>Editeaza parcarea</h1>
            </div>
            <div class="form-content">
                <div class="parking-data" style="width:100%">

                    <h1>Datele parcarii</h1>

                    <div class="form-item">
                        <span>Nume:</span>
                        <input class="textbox" ng-model="editParking.name" type="text">
                    </div>

                    <div class="form-item">
                        <span>Timp de sosire:</span>
                        <input class="textbox" min="15" ng-value="15" ng-model="editParking.arriveTime" type="number" >
                    </div>
                    <div  class="form-item" >
                        <span>Imagine:</span>
                        <input class="textbox" ng-model="editParking.image" type="text">
                    </div>

                    <div class="form-item">
                        <span>Card de credit:</span>
                        <input ng-init="newParking.creditCard=false;" ng-model="editParking.creditCard" type="checkbox">
                    </div>
                    <div  class="form-item" >
                        <span>Descriere:</span>
                        <textarea maxlength="100" ng-model="editParking.description"></textarea>
                    </div>
                </div>
            </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editParkingData()">Editeaza</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Inchide</button>
      </div>
    </div>
  </div>